* {
    margin: 0;
}
.btn-container {
    display: flex;
    justify-content: center;
}
body{
    text-align: center;
 
}

.btn {
    width: 250px; /* Increased width */
    height: 200px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}

.red{
    background-color: #d95980;
}

.green{
    background-color: #63aac0;
}

.yellow{
    background-color: #f99b45;
}

.blue{
    background-color: #819ff9;
}
.flash{
    background-color: white;

}
.gflash{
    background-color: pink;

}
#start-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #1e3a8a; /* Changed background color to a darker blue */
    color: white; /* Added white text color for visibility */
}

 
.rules-container {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rules-container h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.rules-container p, .rules-container ul, .rules-container ol, .rules-container li {
    font-size: 0.9rem; /* Decreased font size for rules */
    margin-bottom: 10px;
}

.rules-container ul, .rules-container ol {
    padding-left: 20px;
}

.rules-container li {
    margin-bottom: 5px;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    .btn {
        width: 150px; /* Adjust button size for smaller screens */
        height: 150px;
    }
}
