* {
    margin: 0;
}
.btn-container {
    display: flex;
    justify-content: center;
}
body{
    text-align: center;
 
}

.btn {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}

.red{
    background-color: #d95980;
}

.green{
    background-color: #63aac0;
}

.yellow{
    background-color: #f99b45;
}

.blue{
    background-color: #819ff9;
}
.flash{
    background-color: white;

}
.gflash{
    background-color: pink;

}
#start-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}